<?xml version='1.0'?>
<sdf version="1.7">
  <model name="box_with_marker">
    <link name="box"><!-- Physics Properties -->
      <self_collide>false</self_collide>
      <enable_wind>false</enable_wind>
      <kinematic>false</kinematic>
      <pose>0 0 0 0 0 0</pose><!-- Visual Properties for Box -->
      <visual name="box_visual">
        <pose>0 0 0 0 0 0</pose>
        <geometry>
          <box>
            <size>0.1 0.1 0.03</size>
          </box>
        </geometry>
        <material>
          <script>
            <uri>file://media/materials/scripts/gazebo.material</uri>
            <name>Gazebo/Orange</name>
          </script>
        </material>
        <cast_shadows>true</cast_shadows>
      </visual><!-- Collision Properties for Box -->
      <collision name="box_collision">
        <pose>0 0 0 0 0 0</pose>
        <geometry>
          <box>
            <size>0.1 0.1 0.03</size>
          </box>
        </geometry>
        <surface>
          <friction>
            <ode>
              <mu>100</mu>
              <mu2>100</mu2>
            </ode>
          </friction>
        </surface>
      </collision><!-- Inertial Properties for Box -->
      <inertial>
        <pose>0 0 0 0 0 0</pose>
        <mass>0.0007</mass>
        <inertia>
          <ixx>0.0000015</ixx>
          <iyy>0.0000015</iyy>
          <izz>0.0000015</izz>
        </inertia>
      </inertial><!-- Aruco Marker as part of the Box -->
      <visual name="aruco_marker_visual"><!-- Position marker on top of the box -->
        <pose>0 0 0.0155 0 0 0</pose><!-- Positioned on top of the box -->
        <geometry>
          <box>
            <size>0.05 0.05 0.0001</size><!-- Thin layer for Aruco marker -->
          </box>
        </geometry>
        <material>
          <script>
            <uri>model://aruco_visual_marker_3/materials/scripts</uri>
            <uri>model://aruco_visual_marker_3/materials/textures</uri>
            <name>ArucoVisualMarker3/Marker</name>
          </script>
        </material>
        <cast_shadows>true</cast_shadows>
      </visual><!-- Collision for the marker (optional) -->
      <collision name="aruco_marker_collision">
        <pose>0 0 0.0155 0 0 0</pose>
        <geometry>
          <box>
            <size>0.03 0.03 0.0001</size><!-- Same thin layer -->
          </box>
        </geometry>
      </collision>
    </link><!-- Gazebo Model Properties -->
    <gazebo reference="box">
      <material>Gazebo/Orange</material>
      <mu1>100.0</mu1>
      <mu2>100.0</mu2>
      <selfCollide>false</selfCollide>
    </gazebo>
    <static>false</static>
  </model>
</sdf>